################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KrishnaFinance/.vs
/.vs
/KrishnaFinance/obj
/KrishnaFinance/Properties/PublishProfiles/FolderProfile2.pubxml.user
/KrishnaFinance/Properties/PublishProfiles/FolderProfile2.pubxml
/KrishnaFinance/UserDocument/AadharCard
/KrishnaFinance/UserDocument/PanCard
/KrishnaFinance/packages
