################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KrishnaFinance
/.vs/KrishnaFinance/v15/.suo
/.vs
