

<div class="ibox" style="border: solid 1px; width:100%; margin-bottom:10px">
    <div class="container-fluid">
        <div class="row">

            <center> <h2>KRISHNA FINANCE</h2></center>
        </div>
        <div class="row">

            <div class="col-md-8">
                Name:&nbsp;Manjuntah Patil<br />
                Loan Amount Rs:&nbsp;50000<br />
                Phone / Mobile:&nbsp;9730193329<br />
                Duration:12 Months&nbsp;    /-<br />
                Report Date: &nbsp;@DateTime.Now
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
            <table>
                <tr>
                    <td>
                        <div class="col-sm-3">
                            EMI Date   <br />02/09/2019
                        </div>

                    </td>
                    <td>
                        <div class="col-sm-3">
                            EMIPaidDate <br />02/09/2019
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-3">
                            BankTransactionID <br />86767GUHK
                        </div>
                    </td>
                </tr>
            </table>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>#</th>
                        <th> EMI Date    </th>
                        <th>EMIPaidDate </th>
                        <th>BankTransactionID</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>1</td>
                        <td>02/09/2019</td>
                        <td>02/09/2019</td>
                        <td>86767GUHK</td>

                        <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>